<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>de.naltatis.instapaper2podcast</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/node</string>
		<string>/Users/username/Programmierung/instapaper2podcast/run.js</string>
	</array>
	<key>StartInterval</key>
	<integer>1200</integer>
</dict>
</plist>